<template>
    <div class="row">
        <div v-for="pokemon in pokemonList" class="col col-md-4 col-lg-3 mb-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">

                        <div class="col">
                            <p>{{ pokemon.name }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col">
                        <img :src="pokemon.image" :alt="pokemon.name"/>
                    </div>
                    <p>Height: {{ pokemon.height }}m</p>
                    <p>Weight: {{ pokemon.weight }}kg</p>
                    <p>Species: {{ pokemon.species }}</p>
                    <div>Abilities:
                        <ul>
                            <li v-for="ability in pokemon.abilities">{{ ability }}</li>
                        </ul>
                    </div>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            pokemonList: Array,
        },
    }
</script>